<!DOCTYPE html>
<html>
  <head>
    <title>Furima240118</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
<%# postgres://furima2_40118_production_user:c0capcDm3Y0uyuIniga9snTV3AZs3ZBQ@dpg-cm72kpa1hbls73arjk70-a/furima2_40118_production %>